@media all and (max-width: 1024px) {
	#logoCDI { width: 27% };
	header h1 { 
		background-color: white;
		border: 1px solid  red;
		color: red;
		text-align: center; 
		width: 55%;
	}
	#dep, #login {
		display: inline-block;
		margin: 0 2%;
		vertical-align: top;
		position: relative;
		max-height: 300px;
		width: 45%;
	}	
}
@media all and (max-width: 768px) {
	header { 
		display: block;
		text-align: center;
		width: 100%;
	}
	#dep { display: none;}
	#login { 
		display: block;
		margin: 0 auto; 
		width: 70%;
	}
	#logoCDI {
		margin: 0 auto;
		position: relative;
		width: 75%;
	}
}


@media all and (max-width: 480px) {

	::-webkit-input-placeholder { /* WebKit browsers */
	  color: rgba(10, 10, 10, 0.7);
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	  color: rgba(10, 10, 10, 0.7);
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	  color: rgba(10, 10, 10, 0.7);
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	  color: rgba(10, 10, 10, 0.7);
	}
	#dep { display: none; }
	#login { 
		display: block;
		margin: 0 auto; 
		width: 85%;
	}
	#login form p label {
		display: none;
	}
	#logoCDI {
		margin: 0 auto;
		position: relative;
		width: 70%;

	}
	header { height: auto; }
	form p label {
		display: none;
	}
	form p input, textarea, select {
		display: inline-block;
		color: red;
		width: 85%;
		color: 
	}

} 
@media all and (max-width: 350px) {  /*- Cambiar despues  -*/  /* Importante !!!! */
	
	/* #dep { display: none; } */ /*--> revisar si tiene sentido esta regla  */
	header h1 {
		font-size: 20px;
	}
	#login { 
		display: block;
		margin: 0 auto; 
		width: 92%;
	}
	#logoCDI {
		margin: 0 auto;
		position: relative;
		width: 85%;
	}
}