/* Definicion de las topologias */
@font-face {
    font-family: 'soberana';
    src: url('fonts/soberana/soberanasanscondensed-regular-webfont.eot');
    src: url('fonts/soberana/soberanasanscondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/soberana/soberanasanscondensed-regular-webfont.woff') format('woff'),
         url('fonts/soberana/soberanasanscondensed-regular-webfont.ttf') format('truetype'),
         url('fonts/soberana/soberanasanscondensed-regular-webfont.svg#soberana_sans_condensedRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('ico-moon-fonts/icomoon.eot?-am9gp4');
	src:url('ico-moon-fonts/icomoon.eot?#iefix-am9gp4') format('embedded-opentype'),
		url('ico-moon-fonts/icomoon.woff?-am9gp4') format('woff'),
		url('ico-moon-fonts/icomoon.ttf?-am9gp4') format('truetype'),
		url('ico-moon-fonts/icomoon.svg?-am9gp4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	background-color: rgb(255,255, 255);
	font-family: 'soberana';
	font-size: 16px;
}
footer { 
	text-align: center;
}
header { 
	border-bottom: 1px solid rgba(14, 40, 220, 0.4) ;  
	display: inline-block;
	margin-bottom: 2em;
}
header h1 { vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { color: rgb(160, 160, 160); }
h1{ font-size: 28px; }
h2{ font-size: 24px; }
h3{ font-size: 22px; }
h4{ font-size: 18px; }
h5{ font-size: 14px; }
h6{ font-size: 10px; }
#main {
	display: block;
	margin: 0 auto;
	margin-bottom: 4em; 
	width: 94%;
} 
#dep, #login {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
#dep img {
	height: 100%;
	margin: auto;
	max-height: 260px;
	position: relative;
	width: 95%;
}
#login form p input	{
	display: block;
	margin: 0 auto;
	width: 95%;
}
#login form p input	{
	border: 1px solid (200, 200, 200);
}
#login fieldset legend {
	color: rgb(120, 120, 120);
	font-size: 22px;
	border: 1px solid rgb(192, 192, 192);
	padding: 3px 80px;
	text-align: center;
}
#logoGobiernoR { 
	display: block;
	margin: 0 auto;
	position: relative;
	width: 250px;
}
#logoCDI, header h1 {
		display: inline-block;
		vertical-align: top;
}
.btn { 
	background-color: rgb(27, 143, 91);
	border: none;
	color: rgb(250, 250, 250);
	cursor: pointer;
}
.module {
	color: rgb(10, 10, 10);
	border: 1px solid grey ;
	display: inline-block;
	margin: 0 0 10px 1em; 
	padding: 10px;
	text-decoration: none;
	vertical-align: top;
	width: 22%;
}

.module:hover:after {
	color: green;
	content: '\ea13';
	display: inline-block;
	float: right;
	font-family: 'icomoon';
	margin-top: .2em;
}
/* Botones - Inputs - ETC.. */

input, select{
	padding: 5px;
}

/* Estilos admin */


#formUserAdmin, #formMuni,
#formEdo, #formLocalidades,
#formAccion, #formCarencia,
#formDependencia, #formLengua, 
#formPrograma,#formUbicaciones,
#formIndigena, #formRegOax {
	display:none;
}

.tableAdmin{ 
	border: 1px solid rgb(180, 180, 180);
	margin: 0 auto;
} 
.tableAdmin td { padding: 5px 15px; }
.tableAdmin tr:first-child {
	background-color: #ddd;
	color: rgb(20, 20, 30);
}
.tableAdmin tr{
	border-bottom: 1px solid rgb(180, 180, 180) ;
}
form { width: 85%; margin:  0 auto;}
form p label {
	display: inline-block;
	text-align: center;
	width: 45%;
}
form p input, textarea, select {
	display: inline-block;
	width: 48%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: transparent;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: transparent;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: transparent;
}