<tr>
	<td>{{ nombres }}</td>
	<td>{{ apellidoM }}</td>
	<td>{{ apellidoP }}</td>
	<td>{{ usuario }}</td>
	<td>{{ nivel }}</td>
	<td><a href="{{urlEdit}}">Editar</a></td>					
	<td><a href="{{urlDelete}}"  data-id="{{id}}" class="elimina">Eliminar</a></td>					
</tr>